<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Map</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Interactive Map Viewer</h1>
    </header>
    <main>
        <form method="POST" action="/">
            <label for="region">Region:</label>
            <input type="text" id="region" name="region" placeholder="Enter region">
            <label for="query">Query:</label>
            <select id="query" name="query">
                <option value="home">Home</option>
                <option value="mean_casualties_by_area">Mean Casualties</option>
                <option value="calculate_percent_change">Percent Change</option>
                <option value="calculate_event_victim_correlation">
                    Event Victim Correlation</option>
                <!-- Add more options as needed -->
            </select>
            <button type="submit">Update Map</button>
        </form>
        <iframe src="{{ map_file }}" id="map"></iframe>
    </main>
</body>
</html>
